PORT=3000
JWT_SECRET=coloca_aqui_un_jwt_secret_seguro
JWT_EXPIRES_IN=2h
SUPABASE_URL=https://TU-PROYECTO.supabase.co
SUPABASE_PUBLISHABLE_KEY=tu_publishable_key
SUPABASE_SECRET_KEY=tu_secret_key
SUPABASE_PROJECT_ID=tu_project_id
DB_HOST=db.tu_proyecto.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=tu_password
DB_SSL=true
